@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url(../web/ptsans.woff),
       url(../web/ptsans.woff2);
}
@font-face {
  font-family: "PT Sans";
  font-weight: 800;
  src:  url(../web/ptsansbold.woff),
        url(../web/ptsansbold.woff2);
}
body {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PT Sans",sans-serif;
  color: black;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f2f2f2;
}
.main-container {
position: relative;
margin: 0 auto;
width: 1200px;
background-color: white;
box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
} 
.vissualy-hidden {
  display: none;
}
h1{
  font-size: 30px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
h2 {
  font-size: 21px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.238;
  text-align: center;
}
h3 {
  font-size: 21px;
  font-family: "PT Sans";
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}
.main-header-logo {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0 0 0 -69px;width: 138px;
  height: 70px;
}

.main-navigation {
  height: 58px;
}
.site-navigation  {
  height: 56px;
  padding: 0;
  display: flex;
  flex-direction: row;
 /* justify-content: space-around;*/
  align-items: center;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  top: 0px;
  margin: 0;
  /*text-align: center;*/
}
nav ul li {
  position: relative;
  width: 20%;
 font-color: #777777;
line-height: 1.857;
  font-weight: bold;
  font-size: 14px;
}
nav ul li:nth-child(3) {
  margin-left: 245px;
}

nav  a {
  color: black;
}

nav a:hover,
nav a:focus     {
  color: #81b3d2;
  cursor: pointer;
}
nav a:active{
  color: #cacaca;
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
.site-navigation-current a {
  color: #766357;
}
header {
  height: 56px;
}
.intro {
  height: 509px;
  background-image: url(../img/background-photo.png);
  background-position: 20% 22%;
}
.intro::after {
  content: '';
  height: 65px;
  width: 1200px;
  background-image: url(../img/one-shape.png);
  position: absolute;
  left: 0px;
  top: 510px;
}
.intro-welcome {
  position: absolute;
  top: 135px;
  left: 505px;

}
.intro-to-the-gorgeous {
  position: absolute;
  top: 190px;
  left: 515px;
}
.intro-hyphen {
  position: absolute;
  top: 205px;
  left: 485px;
}
.intro-sedona {
  position: absolute;
  top: 270px;
  left: 372px;
}
.intro-because {
  position: absolute;
  top: 410px;
  left: 454px;
}
.about {
  height: 216px;
  text-align: center;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-advantages {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.features {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.features img {
	width: 800px;
  height: 256px;
}
ol {
 padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-around;
}
.blue-item {
  background-color: #81b3d2;
  color: white;
  height: 256px;
  width: 400px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.blue-item h3 {
  line-height: 1.5;
}
.item-content {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PT Sans",sans-serif;
  text-align: center;
  line-height: 1.6;
  width: 290px;
  align-self: center;
}
.features-without-number {
  height: 330px;
  padding: 0;
  margin: 0;
  color: #333333;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.features-without-number li {
  margin: 0;
  padding: 0;
 width: 400px;
 height: 90px;
 display: flex;
 flex-direction: column;
 align-self: center;
}
.title::before {
  position: absolute;
  content: '';
  width: 179px;
  height: 174px;
  background-repeat: no-repeat;
}
.title-house::before {
  background-image: url(../img/icon-1.png);
  left: 160px;
  top: 1090px;
}
.title-food::before {
  background-image: url(../img/icon-2.png);
   left: 565px;
  top: 1090px;
}
.title-souvenirs::before {
  background-image: url(../img/icon-3.png);
   right:  50px;
  top: 1085px;
}
.last-features {
  height: 256px;
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeeeee;
  margin-top: -5px;
}
.search-form-title {
	height: 292px;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  line-height: 1.8;
}
.search-form-title h1 {
  margin-top: 55px;
  margin-bottom: -5px;
}
.hotel-search-btn {
  align-self: center;
 font-size: 21px;
 font-weight: 400;
  padding: 32px 137px;
  background-color: #766357;
  color: white;
  border-top: none;
  border-left: none;
}
.hotel-search-btn:hover,
.hotel-search-btn:focus {
  background-color: #604e43;
  cursor: pointer;
}
.hotel-search-btn:active{
  background-color: #503e33;
  cursor: pointer;
}
.map {
	height: 597px;
	background-image: url(../img/map.jpg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.hotel-search-form {
  width: 570px;
  height: 395px;
  background-color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.hotel-search-form input {
 background-color: #f2f2f2;
 height: 38px;
 border: none;
}
.search-form-row input {
width: 310px;
margin-top: 30px;
text-transform: uppercase;
font-weight: bold
}

.search-form-row {
  width: 458px;
  height: 38px;
  position: relative;
}
.search-form-row label {
  background-color: #ffffff;
  margin-right: 17px;
}
.search-form-row button {
  border: none;
  height: 38px;
  width: 40px;
 position: absolute;
 top: 30px;
  background-color: #f2f2f2;
}
.search-form-col {
  position: relative;
  width: 230px;
}
.search-form-col input {
  width: 50px;
  height: 38px;
}


.search-form-col button {
  border: none;
  height: 38px;
  width: 38px;
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-weight: 800;
  font-size: 30px;
  position: absolute;
  top: 0px;
}
.search-form-col label {
  margin-right: 20px;
}

.hotel-search-form div:nth-child(1),
.hotel-search-form div:nth-child(2) {
  width: 456px;
}
.hotel-search-form input:nth-child(3),
.hotel-search-form input:nth-child(4) {
  width: 50px;
}
.find {
  width: 459px;
  height: 58px;
  margin-bottom: 30px;
}
fieldset {
  border: none;
}
.search-navigation a {
  font-size: 12px;
}
.hotel-selection-criteria {
  font-size: 16px;
}
button {
  font-family: "PT Sans";
  font-size: 14px;
  text-transform: uppercase;
}
.find {
  background-color: #81b3d2;
  color: white;
  border: none;
  font-size: 21px;
}
.find:hover,
.find:focus {
  background-color: #669ec0;
  cursor: pointer;
}
.find:active {
  background-color: #5496bd;
  cursor: pointer;
}
.main-footer {
  position: absolute;
  bottom: 0;
  height: 122px;
  width: 1200px;
background: rgba(255, 255, 255, 0.9);

  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.another-page-footer {
  display: flex;
  height: 122px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer div {
  align-self: center;
}
.social-buttons  {
  padding: 0;
  margin: 0;
  width: 151px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
.social-buttons li {
 background-color: #81b3d2;
 width: 45px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-buttons li:hover,
.social-buttons li:focus  {
  background-color: #669ec0;
  cursor: pointer;
}
.social-buttons li:active {
  background-color: #5496bd;
  cursor: pointer;
}
.copyrights {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   align-items: center;
   color: black;
}
.copyright:hover path,
.copyright:focus path {
  fill: #81b3d2;
  cursor: pointer;
}
.copyright:active path {
  fill: #c9c8c8;
  cursor: pointer;
}
.main-footer a {
  font-size: 21px;
  font-weight: bolder;
  color: black;
}
.another-page-footer a {
  font-size: 21px;
  font-weight: bolder;
  color: black;
}
/*Hotels*/
.hotel-selection {
  height: 218px;
  width: 1200px;
  background-image: url(../img/filter-back.png);
  background-position: 40% 50%;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.filter-hotel-selection {
  width: 1056px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filter-hotel-selection fieldset {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
}
.hotel-selection-criteria {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
}
.left-filters {
 width: 405px;
 height: 165px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.left-filters fieldset {
  padding: 0;
  width: 150px;
}
.left-filters legend {
  text-align: left;
}
.left-filters label {
  margin-bottom: 25px;
  position: relative;
  text-align: left;
 padding-left: 38px;
}
.left-filters label:hover, 
.left-filters label:focus {
  cursor: pointer;
}
.left-filters label:active {
  cursor: pointer;
}
.left-filters input[type="checkbox"]
 + .checkbox-indicator::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg);
  background-color: none;
 }

.left-filters input[type="checkbox"]:checked
 + .checkbox-indicator::before {
   width: 26px;
  height: 23px;
  background: url(../img/checkbox-on.svg);
  background-color: none;
 }

.filter-range {
  width: 320px;
  display: block;
}
.filter-range-title {
  width: 190px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
.price-controls::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%,-50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 45px;
}
.price-controls .min-price {
  padding-left: 30px;
  margin-right: 20px;
}
 
.price-controls input {
  width: 45px;
  margin-left: 5px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}

.search-navigation  {
 margin-left: 73px;
  height: 87px;
  width: 1056px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-navigation div {
  font-size: 20px;
  font-weight: 800;
  align-self: center;
}
.search-navigation ul {
  margin: 0;
  margin-right: 50%;
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}

.search-navigation ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.search-navigation li:first-child a {
color: black;
border-bottom: none;
}
.search-navigation ul a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}
.search-navigation-current a {
  color: #81b3d2;
  border-bottom: none;
}
.search-navigation ul a:hover,
.search-navigation ul  a:focus {
 color: #81b3d2;
 border-bottom: 1px dotted #81b3d2;
 cursor: pointer;
}
.search-navigation a:active {
  color: black;
  cursor: pointer;
}
.up-down-buttons {
  width: 35px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.up-down-buttons a path:hover,
.up-down-buttons a path:focus {
  fill: #231f20;
  cursor: pointer;
}
.up-down-buttons a path:active {
  fill: #81b3d2;
  cursor: pointer;
}
/*.search-navigation div:after {
content: '';
position: absolute;
right: 73px;
top: 310px;
width: 11px;
height: 10px;
background-image: url(../img/icon-down-dir.svg);
}

.search-navigation div:before {
content: '';
position: absolute;
right: 93px;
top: 310px;
width: 11px;
height: 10px;
background-image: url(../img/icon-up-dir.svg);
}*/
.booking {
  height: 455px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-block {
  width: 1200px;
  height: 155px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
}
.hotel-block:first-child {
  border-top: 1px solid #eeeeee;
}
.hotel-block-inside {
  width: 1056px;
  margin-left: 73px;
   display: flex;
  justify-content: space-between;
}
.product-info {
  width: 424px;
  height: 152px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product-info img {
  height: 91px;
}
.hotel-content {
  width: 265px;
  height: 92px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
.hotel-title {
  margin: 0;
   text-align: left;
}
.buttons button {
  border: none;
  color: white;
}
.blue-button {
  background-color: #81b3d2;
  height: 26px;
  width: 111px;
  margin-right: 7px;
}
.blue-button:hover,
.blue-button:active{
background-color: #669ec0;
cursor: pointer;
}
.blue-button:active {
  background-color: #5496bd;
  cursor: pointer;
}
.brown-button {
  background-color: #766357;
  height: 26px;
  width: 142px;
}
.brown-button:hover,
.brown-button:active{
background-color: #604e43;
cursor: pointer;
}
.brown-button:active {
  background-color: #503e33;
  cursor: pointer;
}

.type-of-accommodation {
  width: 186px;
  display: flex;
  justify-content: space-between;
}
.rating {
  width: 125px;
  height: 27px;
  align-self: flex-end;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #666666;
  margin-bottom: 30px;
  
}
.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
  cursor: pointer;

}
.hotel-title:active{
  color: #e1e1e1;
  cursor: pointer;
} 
.hotel-title-three-star:after {
  content: '';
  background-image: url(../img/star.svg);
  height: 18px;
  width: 55px;
  color: black;
  position: absolute;
  right: 73px;
}
.hotel-title-four-star:after {
  content: '';
  background-image: url(../img/star.svg);
  height: 18px;
  width: 72px;
  color: black;
  position: absolute;
  right: 73px;
}
.hotel-title-two-star:after {
  content: '';
  background-image: url(../img/star.svg);
  height: 18px;
  width: 37px;
  color: black;
  position: absolute;
  right: 73px;
}