body
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;

    text-align: center;
    text-transform: uppercase;

    color: black;
    background-color: #f2f2f2;
}
.main-container
{
    position: relative;

    width: 1200px;
    margin: 0 auto;

    background-color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
}
.vissualy-hidden
{
    display: none;
}
h1
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 30px;
    line-height: 1.2;

    text-transform: uppercase;

    color: rgb(0, 0, 0);
}
h2
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 21px;
    line-height: 1.238;

    text-align: center;
    text-transform: uppercase;

    color: rgb(0, 0, 0);
}
h3
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
}
.main-header-logo
{
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 50%;

    width: 138px;
    height: 70px;
    margin: 0 0 0 -69px;
}

.main-navigation
{
    height: 56px;
}
.site-navigation
{
    font-weight: 500;

    top: 0;

    display: flex;
    flex-direction: row;

    height: 56px;
    margin: 0;
    padding: 0;

    text-decoration: none;
    letter-spacing: .3px;
    text-transform: uppercase;

    color: black;

    align-items: center;
}
nav ul li
{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.857;

    position: relative;

    width: 20%;

    font-color: #777;
}
nav ul li:nth-child(3)
{
    margin-left: 250px;
}

nav  a
{
    color: black;
}

nav a:hover,
nav a:focus
{
    cursor: pointer;

    color: #81b3d2;
}
nav a:active
{
    cursor: pointer;

    color: #cacaca;
}
li
{
    list-style-type: none;
}
a
{
    text-decoration: none;
}
a:visited
{
    color: black;
}
.site-navigation-current a
{
    color: #766357;
}
header
{
    height: 56px;
}
.intro
{
    display: flex;
    flex-direction: column;

    height: 509px;

    background-color: #9cbbd4;
    background-image: url(../img/background-photo.png);
    background-position: 20% 22%;

    justify-content: center;
    align-items: center;
}
.intro::after
{
    position: absolute;
    top: 508px;
    left: 0;

    width: 1200px;
    height: 65px;

    content: '';

    background-image: url(../img/shape.png);
}

.about
{
    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 216px;

    text-align: center;

    justify-content: center;
    align-items: center;
}
.about h2
{
    padding: 0 295px;
}
.about p
{
    letter-spacing: 1;
}
.all-advantages
{
    display: flex;
    flex-direction: row;

    width: 1200px;

    flex-wrap: wrap;
}

.features
{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}
.features img
{
    width: 800px;
    height: 256px;
}
ol
{
    display: flex;

    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.blue-item
{
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 256px;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;

    color: white;
    background-color: #81b3d2;

    flex-wrap: wrap;
    justify-content: center;
}
.blue
{
    display: flex;
    flex-direction: column;

    height: 150px;
    margin-bottom: 5px;

    justify-content: space-between;
}
.blue-item h3
{
    font-weight: 600;
    line-height: 1;

    margin: 0;
    padding: 0 125px;

    letter-spacing: 1.5;
}
.blue-item p
{
    margin: 0;

    letter-spacing: 1;
}

.item-content
{
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    line-height: 1.6;

    width: 305px;

    text-align: center;
    text-transform: uppercase;

    align-self: center;
}
.features-without-number
{
    display: flex;
    flex-direction: row;

    height: 324px;
    margin: 0;
    padding: 0;

    color: #333;

    flex-wrap: wrap;
    align-items: flex-end;
}
.features-without-number li
{
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 190px;
    margin: 0;
    padding: 0;

    justify-content: flex-start;
    align-items: center;
}
.features-without-number p
{
    line-height: 1.5;

    width: 300px;
    margin: 0;

    letter-spacing: 1;
}
.title::before
{
    position: absolute;

    width: 179px;
    height: 174px;

    content: '';

    background-repeat: no-repeat;
}
.title-house::before
{
    top: 1096px;
    left: 162px;

    background-image: url(../img/icon-1.svg);
}
.title-food::before
{
    top: 1097px;
    left: 558px;

    background-image: url(../img/icon-2.svg);
}
.title-souvenirs::before
{
    top: 1093px;
    right: 53px;

    background-image: url(../img/icon-3.svg);
}
.last-features
{
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 256px;
    margin-top: -6px;

    background-color: #eee;

    flex-wrap: wrap;
    justify-content: center;
}

.last-features p
{
    font-weight: 400;
    line-height: 1.5;

    width: 260px;
    margin-right: 0;
}
.last-features h3
{
    font-weight: 600;

    padding: 0 140px;

    letter-spacing: 1;
}
.last-features article
{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    align-items: center;
}

.search-form-title
{
    display: flex;
    flex-direction: column;

    height: 293px;

    justify-content: space-between;
    align-items: center;
}
.search-form-title h1
{
    font-family: 'PT Sans','Arial',sans-serif;
    font-weight: 600;

    padding-top: 30px;
}
.search-form-title p
{
    width: 440px;
    margin-top: 0;
    padding-bottom: 40px;
}
.hotel-search-btn
{
    font-size: 21px;
    font-weight: 400;

    padding: 30px 137px;

    color: white;
    border-top: none;
    border-left: none;
    background-color: #766357;

    align-self: center;
}
.hotel-search-btn:hover,
.hotel-search-btn:focus
{
    cursor: pointer;

    background-color: #604e43;
}
.hotel-search-btn:active
{
    cursor: pointer;

    background-color: #503e33;
}
.maps
{
    display: flex;
    flex-direction: row;

    height: 590px;

    background-image: url(../img/map.jpg);

    flex-wrap: wrap;
    justify-content: center;
}
.map
{
    position: absolute;
    z-index: 1;
    left: 0px;
    width: 100%;
    height: 590px;
}
.hotel-search
{
    position: relative;
    z-index: 1;

    display: flex;

    width: 570px;
    height: 397px;

    background-color: white;

    justify-content: center;
    align-items: center;
}
.hotel-search-form
{
    font-weight: 600;

    display: flex;
    flex-direction: row;

    width: 459px;
    height: 300px;
    margin-top: -20px;

    background-color: white;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hotel-search-form input
{
    height: 36px;

    border: none;
    background-color: #f2f2f2;
}
.search-form-row input
{
    font-family: 'PT Sans','Arial',sans-serif;
    font-size: 13px;
    font-weight: bolder;

    width: 290px;
    padding-left: 12px;

    text-transform: uppercase;
}
.search-form-row
{
    position: relative;

    width: 458px;
    height: 36px;
    margin-right: 23px;
}
.search-form-row label
{
    margin-right: 18px;
    margin-left: -15px;

    letter-spacing: 1;

    background-color: #fff;
}
.search-form-row button
{
    position: absolute;

    width: 40px;
    height: 38px;

    border: none;
    background-color: #f2f2f2;
}
.search-form-col
{
    display: flex;

    align-items: center;
}

.search-form-col input
{
    font-weight: bold;

    width: 23px;
    padding-left: 15px;
}
.search-form-col button
{
    font-size: 24px;
    font-weight: 600;

    width: 37px;
    height: 38px;
    padding-bottom: 5px;

    color: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
}

.hotel-search-form div:nth-child(3)
{
    width: 226px;
}
.hotel-search-form div:nth-child(3) label
{
    margin-right: 40px;
}
.hotel-search-form div:nth-child(4)
{
    width: 178px;
    margin-left: 55px;
}
.hotel-search-form div:nth-child(4) label
{
    margin-right: 26px;
}
.find
{
    width: 459px;
    height: 58px;
}
fieldset
{
    border: none;
}
.search-navigation a
{
    font-size: 12px;
}
.hotel-selection-criteria
{
    font-size: 16px;
}
button
{
    font-family: 'PT Sans';
    font-size: 14px;

    text-transform: uppercase;
}
.find
{
    font-size: 21px;

    color: white;
    border: none;
    background-color: #81b3d2;

    align-self: flex-end;
}
.find:hover,
.find:focus
{
    cursor: pointer;

    background-color: #669ec0;
}
.find:active
{
    cursor: pointer;

    background-color: #5496bd;
}
footer
{
    display: flex;
    display: flex;
    flex-direction: row;

    height: 118px;

    justify-content: space-around;
}
.main-footer
{
    position: absolute;
    z-index: 1;
    bottom: 0;

    display: flex;
    flex-direction: row;

    width: 1200px;

    background: rgba(255, 255, 255, .9);
}
.social-buttons
{
    display: flex;

    width: 155px;
    height: 50px;
    margin: 0;
    margin-left: 60px;
    padding: 0;

    justify-content: space-around;
    align-self: center;
}
.social-buttons li
{
    display: flex;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;

    justify-content: space-around;
    align-items: center;
}
.social-buttons li:hover,
.social-buttons li:focus
{
    cursor: pointer;

    background-color: #669ec0;
}
.social-buttons li:active
{
    cursor: pointer;

    background-color: #5496bd;
}
.copyrights
{
    display: flex;
    flex-direction: row;

    width: 195px;

    color: black;

    justify-content: space-between;
    align-items: center;
}
.copyright
{
    align-self: center;
}
.copyright:hover path,
.copyright:focus path
{
    cursor: pointer;

    fill: #81b3d2;
}
.copyright:active path
{
    cursor: pointer;

    fill: #c9c8c8;
}
.main-footer a
{
    font-size: 21px;
    font-weight: bolder;

    color: black;
}
footer div
{
    margin-left: 30px;

    align-self: center;
}

footer a
{
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;

    color: black;
}
/*Hotels*/
.hotel-selection
{
    display: flex;
    flex-direction: row;

    min-height: 218px;

    background-image: url(../img/filter-back.png);
    background-position: 40% 50%;
    background-size: cover;
    background-color: #6c6062;

    justify-content: space-around;
}
.filter-hotel-selection
{
    display: flex;
    flex-direction: row;

    width: 1056px;

    justify-content: space-between;
    align-items: center;
}
.filter-hotel-selection fieldset
{
    position: relative;


    height: 165px;

    color: white;

    justify-content: space-between;
}
.hotel-selection-criteria
{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;

}
.left-filters
{
    display: flex;
    flex-direction: row;

    width: 410px;
    height: 165px;

    justify-content: space-between;
}

.left-filters fieldset
{
    width: 150px;
    padding: 0;
}
.left-filters legend
{
    text-align: left;
}
.left-filters label
{
    position: relative;
    margin-bottom: 25px;
    padding-left: 10px;

    text-align: left;
}
.left-filters label:hover,
.left-filters label:focus
{
    cursor: pointer;
}
.left-filters label:active
{
    cursor: pointer;
}

.left-filters input[type='checkbox'] + .checkbox-indicator::before
{
    position: absolute;
    left: 0;
    
    width: 23px;
    height: 23px;

    content: '';

    background: url(../img/checkbox-off.svg);
    background-color: none;
}

.left-filters input[type='checkbox']:checked + .checkbox-indicator::before
{
    width: 26px;
    height: 23px;
    background: url(../img/checkbox-on.svg);
    background-color: none;
}
.filter-option  {
  margin-top: 25px;
}
.left-filters ul {
padding: 0;
margin: 0;
}
.filter-range
{
    display: block;

    width: 320px;
    padding: 0;
}
.filter-range-title
{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;

    width: 190px;
    margin-bottom: 9px;
}
.price-controls
{
    font-size: 0;

    position: relative;

    height: 36px;
    margin-bottom: 20px;

    border: 2px solid #fff;
    border-radius: 2px;
}
.price-controls::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: '';
    transform: translate(-50%,-50%);

    background: #fff;
}
.price-controls label
{
    font-size: 14px;
    line-height: 38px;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;
}
.price-controls .min-price,
.price-controls .max-price
{
    width: 90px;
    padding-left: 45px;
}
.price-controls .min-price
{
    margin-right: 20px;
    padding-left: 30px;
}

.price-controls input
{
    font: inherit;

    width: 45px;
    margin-left: 5px;

    color: inherit;
    border: none;
    background: none;
}
.range-controls
{
    position: relative;

    margin-bottom: 32px;
}
.range-controls .scale
{
    height: 2px;

    background: rgba(255, 255, 255, .3);
}
.range-controls .bar
{
    width: 80%;
    height: 2px;

    background: #fff;
}
.range-toggle
{
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
}
.range-toggle:hover
{
    cursor: pointer;

    background: #1c4f80;
}
.range-toggle-min
{
    left: 0;
}
.range-toggle-max
{
    left: 80%;
}
.btn-transparent
{
    font-size: 14px;
    line-height: 20px;

    display: block;

    margin: 0 auto;
    padding: 6px 35px;

    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
}
.btn-transparent:hover
{
    cursor: pointer;

    color: #000;
    background: #fff;
}
.search-navigation
{
    display: flex;
    flex-direction: row;

    width: 1056px;
    height: 87px;
    margin-left: 73px;

    justify-content: space-between;
    align-items: center;
}
.search-navigation div
{
    display: flex;
}
.search-navigation span
{
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;

    align-self: center;
}
.search-navigation ul
{
    display: flex;
    flex-direction: row;

    width: 350px;
    margin: 0;
    margin-top: 5px;

    justify-content: space-between;
    align-self: center;
}
.search-navigation ul li
{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}
.search-navigation li:first-child a
{
    color: black;
    border-bottom: none;
}
.search-navigation ul a
{
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}
.search-navigation-current a
{
    color: #81b3d2;
    border-bottom: none;
}
.search-navigation ul a:hover,
.search-navigation ul  a:focus
{
    cursor: pointer;

    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
.search-navigation a:active
{
    cursor: pointer;

    color: black;
}
.up-down-buttons
{
    display: flex;
    flex-direction: row;

    width: 35px;
    height: 15px;

    justify-content: space-between;
}
.up-down-buttons a path:hover,
.up-down-buttons a path:focus
{
    cursor: pointer;

    fill: #231f20;
}
.up-down-buttons a path:active
{
    cursor: pointer;

    fill: #81b3d2;
}
.booking
{
    display: flex;
    flex-direction: column;

    width: 1200px;
    min-height: 150px;

    justify-content: space-between;
}

.hotel-block
{
    display: flex;

    width: 1200px;
    min-height: 150px;

    border-bottom: 1px solid #eee;

    justify-content: space-between;
}
.hotel-block:first-child
{
    border-top: 1px solid #eee;
}
.hotel-block-inside
{
    display: flex;

    width: 1056px;
    margin-left: 73px;

    justify-content: space-between;
}
.product-info
{
    display: flex;
    flex-direction: row;

    width: 430px;
    height: 150px;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-info img
{
    height: 91px;
}
.hotel-content
{
    display: flex;
    flex-direction: column;

    width: 265px;
    height: 92px;

    text-align: left;

    flex-wrap: wrap;
    justify-content: space-between;
}
.hotel-title
{
    margin: 0;

    text-align: left;
}
.buttons button
{
    color: white;
    border: none;
}
.blue-button
{
    width: 110px;
    height: 27px;
    margin-right: 7px;

    background-color: #81b3d2;
}
.blue-button:hover,
.blue-button:active
{
    cursor: pointer;

    background-color: #669ec0;
}
.blue-button:active
{
    cursor: pointer;

    background-color: #5496bd;
}
.brown-button
{
    width: 142px;
    height: 27px;

    background-color: #766357;
}
.brown-button:hover,
.brown-button:active
{
    cursor: pointer;

    background-color: #604e43;
}
.brown-button:active
{
    cursor: pointer;

    background-color: #503e33;
}
.type-of-accommodation
{
    display: flex;

    width: 182px;

    justify-content: space-between;
}
.rating
{
    display: flex;

    width: 110px;
    height: 27px;
    margin-bottom: 30px;

    color: #666;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;

    align-self: flex-end;
    justify-content: center;
    align-items: center;
}
.hotel-title:hover,
.hotel-title:focus
{
    cursor: pointer;

    color: #81b3d2;
}
.hotel-title:active
{
    cursor: pointer;

    color: #e1e1e1;
}
.hotel-title-three-star:after
{
    position: absolute;
    right: 70px;

    width: 71px;
    height: 20px;

    content: '';

    color: black;
    background-image: url(../img/star.svg);
}
.hotel-title-four-star:after
{
    position: absolute;
    right: 70px;

    width: 93px;
    height: 20px;

    content: '';

    color: black;
    background-image: url(../img/star.svg);
}
.hotel-title-two-star:after
{
    position: absolute;
    right: 70px;

    width: 46px;
    height: 20px;

    content: '';

    color: black;
    background-image: url(../img/star.svg);
}
