body {
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;

    text-align: center;
    text-transform: uppercase;

    color: black;
    background-color: #f2f2f2;
}
.main-container {
    position: relative;

    width: 1200px;
    margin: 0 auto;

    background-color: white;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
}
.vissualy-hidden {
    display: none;
}
.main-header-logo {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;

    width: 138px;
    height: 70px;
    margin: 0 0 0 -69px;
}
.main-navigation {
    min-height: 56px;
}
.site-navigation {
    font-weight: 500;

    top: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    min-height: 56px;
    margin: 0;
    padding: 0;

    text-decoration: none;
    text-transform: uppercase;

    color: black;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
}
nav ul {
    min-height: 56px;
}
nav li {
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.857;

    position: relative;

    width: 20%;
    padding-top: 15px;

    font-color: #777;
}
nav li:nth-child(3) {
    margin-left: 240px;
}
.site-navigation .last-item {
    padding-left: 11px;
}
nav  a {
    color: black;
}
nav a:hover,
nav a:focus {
    cursor: pointer;

    color: #81b3d2;
}
nav a:active {
    cursor: pointer;

    color: #cacaca;
}
nav li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
.site-navigation-current a {
    color: #766357;
}
header {
    min-height: 56px;
}
.intro {
    min-height: 508px;

    background-color: #9cbbd4;
    background-image: url(../img/background-photo.png);
    background-position: 20% 21%;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.intro img {
    padding-top: 75px;
}
.intro::after {
    position: absolute;
    top: 507px;
    left: 0;

    width: 1200px;
    height: 65px;

    content: '';

    background-image: url(../img/shape.png);
}
.about {
    width: 1200px;
    min-height: 185px;

    text-align: center;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about h2 {
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 21px;
    line-height: 1.238;

    text-align: center;
    text-transform: uppercase;
    width: 460px;
    padding: 45px 370px 12px 370px;
}

.all-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 1200px;
    min-height: 1098px;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -ms-flex-pack: distribute;

        justify-content: space-around;
}
.features h3 {
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 21px;
    line-height: 25px;

    text-transform: uppercase;
}
.features img {
    width: 800px;
    height: 256px;
}
.all-advantages ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.blue-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 400px;
    min-height: 256px;
    margin: 0;
    margin-bottom: 6px;

    color: white;
    background-color: #81b3d2;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
}
.features li {
    list-style-type: none;
}
.blue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    height: 150px;
    padding-top: 50px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.blue-item h3 {
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 21px;
    line-height: 25px;

    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;

    height: 40px;
    margin: 0 0 5px 0;
    padding: 0 100px 0 100px;

    letter-spacing: 1.5;
}
.blue-item p {
    margin: 0;

    letter-spacing: 1;
}

.item-content {
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    line-height: 1.6;

    width: 305px;

    text-align: center;
    text-transform: uppercase;

    -ms-flex-item-align: center;

        align-self: center;
}
.features-without-number h3 {
font-family: 'PT Sans','Arial', sans-serif;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
}
.features-without-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    min-height: 324px;
    margin: 0;
    padding: 0;

    color: #333;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.features-without-number ul {
    height: auto;
}
.features-without-number li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 400px;
    min-height: 190px;
    margin: 0;
    padding: 0;

    -webkit-box-pack: start;

        -ms-flex-pack: start;

            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.features-without-number p {
    line-height: 1.5;

    width: 300px;
    margin: 0;

    letter-spacing: 1;
}
.title {
    position: relative;
}
.title-house::before {
    position: absolute;
    bottom: 53px;

    width: 75px;
    height: 72px;

    content: '';

    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
}
.title-food::before {
    position: absolute;
    top: -95px;
    right: -15px;
    bottom: 53px;

    width: 74px;
    height: 70px;

    content: '';

    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
}
.title-souvenirs::before {
    position: absolute;
    bottom: 53px;
    left: 18px;

    width: 64px;
    height: 76px;

    content: '';

    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
}
.last-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 400px;
    height: 256px;
    margin-top: -6px;

    background-color: #eee;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.last-features p {
    font-weight: 400;
    line-height: 1.5;

    width: 270px;
    margin-top: 20px;
    margin-right: 0;
}
.last-features h3 {
    font-weight: 600;
    line-height: 21px;

    width: 120px;
    padding: 0 140px;

    letter-spacing: 1;
}
.last-features article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-bottom: 20px;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}

.search-form-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    height: 293px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-form-title span {
   font-family: 'PT Sans','Arial', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;

    text-transform: uppercase;

    color: rgb(0, 0, 0);

    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 20px;

}
.search-form-title p {
    line-height: 23px;

    width: 440px;
    margin-top: 5px;
    
    padding-bottom: 30px;
}
.search-form-title .hotel-search-btn {
    font-family: 'PT Sans','Arial',sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;

    width: 568px;
    height: 86px;
    margin-bottom: 2px;

    color: white;
    border: none;
    background-color: #766357;

    -ms-flex-item-align: center;

        align-self: center;
}
.hotel-search-btn:hover,
.hotel-search-btn:focus {
    cursor: pointer;

    background-color: #604e43;
}
.hotel-search-btn:active {
    cursor: pointer;

    color: #928a85;
    background-color: #503e33;
}
.maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    height: 590px;

    background-color: #cbdda9;
    background-image: url(../img/map.jpg);

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.map {
    position: absolute;
    z-index: 1;
    left: 0;

    width: 100%;
    height: 590px;
}
.hotel-search {
    position: relative;
    z-index: 1;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    width: 570px;
    height: 395px;

    background-color: white;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hotel-search-form {
    font-weight: 600;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 459px;
    height: 300px;
    margin-top: -20px;

    background-color: white;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hotel-search-form input {
    height: 36px;

    border: none;
    background-color: #f2f2f2;
}
.search-form-row input {
    font-family: 'PT Sans','Arial',sans-serif;
    font-size: 14px;
    font-weight: bolder;

    width: 290px;
    padding-left: 14px;

    text-transform: uppercase;
}

.search-form-row {
    font-size: 0;

    position: relative;

    width: 460px;
    height: 36px;
    margin-right: 23px;
}
.search-form-row label {
    font-size: 14px;

    margin-right: 18px;
    margin-left: -15px;

    letter-spacing: 1;

    background-color: #fff;
}
.search-form-row button {
    position: absolute;

    width: 40px;
    height: 38px;

    border: none;
    background-color: #f2f2f2;
}
.search-form-row .calendar:active {
    outline: none;
}
.calendar:hover svg {
    fill: #000;
}
.calendar:active svg {
    fill: #81b3d2;
}
.search-form-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 4px;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}

.search-form-col input {
    font-weight: bold;

    width: 23px;
    padding-left: 15px;
}
.search-form-col button {
    font-size: 24px;
    font-weight: 600;

    width: 37px;
    height: 38px;
    padding-bottom: 5px;

    color: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
}
.search-form-col button:hover {
    color: #000;
}
.search-form-col button:active {
    color: #81b3d2;
}


.hotel-search-form .adults {
    margin-right: 40px;
}

.hotel-search-form .children {
    margin-right: 26px;
}
fieldset {
    border: none;
}
.search-navigation a {
    font-size: 12px;
}
.hotel-selection-criteria {
    font-size: 16px;
}
.find {
    font-family: 'PT Sans','Arial',sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;

     width: 459px;
    height: 58px;

    color: white;
    border: none;
    background-color: #81b3d2;

    -ms-flex-item-align: end;

        align-self: flex-end;
}
.find:hover,
.find:focus {
    cursor: pointer;

    background-color: #669ec0;
}
.find:active {
    cursor: pointer;

    background-color: #5496bd;
}
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    height: 118px;

    -ms-flex-pack: distribute;

        justify-content: space-around;
}
.main-footer {
    position: absolute;
    z-index: 1;
    bottom: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 1200px;

    background: rgba(255, 255, 255, .9);
}
.social-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 155px;
    height: 50px;
    margin: 0;
    margin-top: 1px;
    margin-left: 58px;
    padding: 0;

    -ms-flex-pack: distribute;

        justify-content: space-around;
    -ms-flex-item-align: center;
        align-self: center;
}
.social-buttons li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;

    -ms-flex-pack: distribute;

        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.social-buttons svg {
    margin-top: 6px;
}
.social-buttons li:hover,
.social-buttons li:focus {
    cursor: pointer;

    background-color: #669ec0;
}
.social-buttons li:active {
    cursor: pointer;

    background-color: #5496bd;
}
.copyrights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 195px;
    height: 42px;
    margin-right: 5px;

    color: black;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.copyrights span {
    margin-top: 10px;
}
.copyright:hover path,
.copyright:focus path {
    cursor: pointer;

    fill: #81b3d2;
}
.copyright:active path {
    cursor: pointer;

    fill: #c9c8c8;
}

.visit-us,
.copyrights {
    margin-left: 30px;

    -ms-flex-item-align: center;

        align-self: center;
}

.visit-us a {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    margin-left: 5px;
    color: black;
}
/*Hotels*/
.hotel-selection {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    min-height: 217px;

    background-color: #6c6062;
    background-image: url(../img/filter-back.png);
    background-position: 40% 50%;
    background-size: cover;

    -ms-flex-pack: distribute;

        justify-content: space-around;
}
.filter-hotel-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 1200px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.filter-hotel-selection fieldset {
    position: relative;

    min-height: 165px;

    color: white;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.hotel-selection-criteria {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
.left-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 410px;
    min-height: 165px;
    margin-top: 26px;
    margin-left: 70px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.left-filters fieldset {
    width: 150px;
    padding: 0;
}
.left-filters legend {
    text-align: left;
}
.left-filters label {
    position: relative;

    margin-bottom: 25px;
    padding-left: 40px;
}
.left-filters label:hover,
.left-filters label:focus {
    cursor: pointer;
}
.left-filters label:active {
    cursor: pointer;
}
.left-filters li {
    list-style-type: none;
}
input[type='checkbox'] + label::before {
    position: absolute;
    left: 0;

    width: 23px;
    height: 23px;

    content: '';

    background: url(../img/checkbox-off.svg);
    background-color: none;
}

input[type='checkbox']:checked + label::before {
    width: 26px;
    height: 23px;

    background: url(../img/checkbox-on.svg);
    background-color: none;
}
.filter-option {
    margin-top: 25px;

    text-align: left;
}
.left-filters ul {
    margin: 0;
    padding: 0;

}
.filter-range {
    display: block;

    width: 320px;
    margin-top: 25px;
    margin-right: 72px;
    padding: 0;
}
.filter-range-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;

    width: 190px;
    margin-bottom: 9px;
}
.price-controls {
    font-size: 0;

    position: relative;

    width: 315px;
    height: 34px;
    margin-bottom: 20px;

    border: 2px solid #fff;
    border-radius: 2px;
}
.price-controls::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: '';
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

    background: #fff;
}
.price-controls label {
    font-size: 14px;
    line-height: 38px;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;
}

.price-controls .max-price {
    width: 90px;
    padding-left: 40px;
}

.price-controls .min-price {
    width: 90px;
    margin-right: 20px;
    padding-left: 30px;
}

.price-controls input {
    font: inherit;

    display: inline-block;

    width: 45px;
    height: 35px;

    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}
.range-controls {
    position: relative;

    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, .3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #fff;
}
.range-toggle {
    position: absolute;
    top: -10px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
            box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
}
.range-toggle:hover {
    cursor: pointer;

    background: #1c4f80;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.btn-transparent {
    font-size: 14px;
    line-height: 20px;
     font-family: 'PT Sans','Arial', sans-serif;

    display: block;

    margin: 0 auto;
    margin-right: 95px;
    padding: 6px 35px;

    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
}
.btn-transparent:hover {
    cursor: pointer;

    color: #000;
    background: #fff;
}
.search-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 1056px;
    height: 86px;
    margin-left: 73px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-navigation .hotel-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.search-navigation span {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;

    -ms-flex-item-align: center;

        align-self: center;
}
.search-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 353px;
    margin: 0;
    margin-top: 5px;
    padding-left: 45px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
}
.search-navigation li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -ms-flex-pack: distribute;

        justify-content: space-around;
}
.search-navigation .sorting {
    color: black;
    border-bottom: none;
}
.search-navigation li:nth-child(2) {
    margin-left: 5px;
}
.search-navigation-list a {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}
.search-navigation-list a:hover,
.search-navigation-list a:focus {
    cursor: pointer;

    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
.search-navigation-list a:active {
    cursor: pointer;

    color: black;
    border: none;
}
.up-down-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 35px;
    height: 15px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.up-down-buttons path:hover,
.up-down-buttons path:focus {
    cursor: pointer;

    fill: #231f20;
}
.up-down-buttons path:active {
    cursor: pointer;

    fill: #81b3d2;
}
.booking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 1200px;
    min-height: 150px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.hotel-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 1200px;
    min-height: 150px;

    border-bottom: 1px solid #eee;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.hotel-block:first-child {
    border-top: 1px solid #eee;
}
.hotel-block-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 1056px;
    margin-left: 73px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.product-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 429px;
    height: 147px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.product-info img {
    width: 135px;
    height: 90px;
}
.hotel-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 265px;
    height: 92px;

    text-align: left;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hotel-title {
    height: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 21px;
    color: black;
    line-height: 1.238;
    text-align: center;
    text-transform: uppercase;
    text-align: left;
}

.buttons button {
    color: white;
    border: none;
    text-transform: uppercase;

}
.blue-button {
    width: 110px;
    height: 27px;
    margin-right: 3px;
    font-size: 13px;
    font-family: 'PT Sans','Arial', sans-serif;
    background-color: #81b3d2;
}
.blue-button:hover,
.blue-button:active {
    cursor: pointer;

    background-color: #669ec0;
}
.blue-button:active {
    cursor: pointer;

    background-color: #5496bd;
}
.brown-button {
    width: 142px;
    height: 27px;
    font-size: 14px;
    font-family: 'PT Sans','Arial', sans-serif;

    background-color: #766357;
}
.brown-button:hover,
.brown-button:active {
    cursor: pointer;

    background-color: #604e43;
}
.brown-button:active {
    cursor: pointer;

    background-color: #503e33;
}
.type-of-accommodation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 182px;
    height: 30px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.hotel-right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    height: 94px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
}
.stars {
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 110px;
    height: 27px;

    color: #666;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;

    -ms-flex-item-align: end;

        align-self: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hotel-title:hover,
.hotel-title:focus {
    cursor: pointer;

    color: #81b3d2;
}
.hotel-title:active {
    cursor: pointer;

    color: #e1e1e1;
}